        *{
        margin:0px;
	    padding: 0px;
    }
    .background{
    	width: 1366px;
		height: 632px;
        
    }
    .personal{
    	width: 1366px;
    	height: 30px;
		background: #63625a;
		float: left;
		color: #FFFFFF;
		line-height: 30px;
    }
    .personal1{
    	width: 1366px;
    	height: 30px;
		background: #C42B2B;
		float: left;
		color: #FFFFFF;
		line-height: 30px;
		margin-top: 522px;
    }
    .a{
    	width: 400px;
		height: 30px;
		float: right;
		margin-left: 500px;
    }
    .function{
    	width: 1366px;
    	height: 80px;
    	background: #C1C0C0;
    	float: left;
    	opacity: 0.1px;
    	line-height: 80px;
    	font-size: 30px;
        
    }
    .lcon{
    	width: 50px;
    	height: 50px;
    	float: left;
    	margin-top: 15px;
    	margin-left: 120px;
    	background-image: url(../images/3.jpg);
        border-radius: 8px;
    }
    .yhgl{
    	width: 130px;
    	height: 50px;
    	float: left;
    	margin-top: 15px;
    	line-height: 50px;
    	font-size: 30px;
    	margin-left: 2px;
    	font-family:"黑体";
    }
    .yhglxxts{
    	width: 400px;
    	height: 50px;
    	float: left;
    	margin-top: 15px;
    	line-height: 50px;
    	font-size: 20px;
    	margin-left: 120px;
    	font-family:"黑体";
        
    }

    a{
 		text-decoration: none;
 		color: #0C0C0C;	
	}
    #main{
       
        width: 1200px;
        height: 500px;
        margin-left: 112px;
        margin-top: 80px; 
        
        position: relative;
    }
    .weather2 {
        float: left;
        margin-left: 60px;
        margin-top: 15px;
    }
    table{
        font-size: 20px;
        text-align: center;
        width: 900px;  
        margin-left:40px;   
    }
    .tr1{
        height: 30px;

    }
    
    .span1{
        font-size: 25px;
        font-family:"黑体";
    }
   

   #div1{
    
    height: 450px;
    width: 900px;
    margin-left: 20px;
    background-image: url(../images/timg.jpg);
   
   }
   h2{
        font-family:"黑体";    
   }
   #h2{
    margin-left: 180px;
    

   }
   h4{
    margin-top: 180px;
    margin-left: 350px;
    font-family:"黑体"; 
    font-size: 20px;   


   }
   .span1{
    font-size: 20px;
    font-family: 黑体;

   }
#div2{
    
    position: absolute;
    margin-top: -16px;
   margin-left: 400px;
}
.barcon {          
        text-align: center;
        width: 400px;
        height: 63px; 
        margin-top:-63px;
        margin-left: 550px; 
                   
     }  
  
     
  
    .barcon2 {  
        width: 400px;
        height: 60px;
        margin-top: 10px;
        position: absolute;

       
    }  
  
    .barcon2 ul {  
        
        padding-left: 0;  
        list-style: none;  
        text-align: center;
        margin-top:-20px;
        height: 40px; 
        
        
    }  
  
    .barcon2 li {  
        display: inline;  
    }  
  
    .barcon2 a {  
        font-size: 16px;  
        font-weight: normal;  
        display: inline-block;  
        padding: 5px;  
        padding-top: 0;  
        color: black;  
          
          
    }  
  
     
  
    .ban {  
        opacity: .4;  
    } 
    .left{
        width: 220px;
        height: 500px;
        float: left;
        background-color: #DBD9D9;
        
    }
    .z{
        width: 220px;
        height: 340px;
        float: left;
        overflow: scroll;
        overflow-x: hidden;
        background-color: #EAEAEA;
    }
    .right{
        width: 955px;
        height: 500px;
        float: left;
      
        background-color: #DBD9D9;
    }
    .one{
        width: 220px;
        height: 30px;
        float: left;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        font-family:"黑体";
        background-color: #EAEAEA;
    }
    .top{
        width: 551px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        margin-left: 160px;
        background-color: #DBD9D9;
        font-family:"黑体";
        text-align: center;
    }
    .top2{

        width: 551px;
        height: 86px;
        font-size: 25px;
        line-height: 40px;
        margin-left: 250px;
        background-color: #DEDBDB;
        font-family:"黑体";

    }
   
    .one:hover{
        cursor:pointer;
    }
    input{
        
    }
    input:hover{
        
    }
    .yh{
        width: 220px;
        height: 60px;
        float: left;
        font-size: 30px;
        text-align: center;
        line-height: 60px;
        font-family:"黑体";
        background-color:#DBDBDB ;
    } 