#mycontent {
    width: 1000px;
    height: 588px;
    margin-top: 60px;
    margin-left: 225px;
    float: left;
}

#mycontent #mycontent-top {
    width: 1000px;
    height: 80px;
}

#mycontent #mycontent-top .fa-strikethrough {
    font-size: 40px;
    margin-top:-10px;
}

#mycontent #mycontent-top span {
    font-size: 25px;
    margin-left: 10px;
}

#mycontent #mycontent-top #mycontent-top-bottom {
    width: 995px;
    height: 30px;
    margin-top: 5px;
    background-color: #e4e9eb;
    border-radius: 8px;
}

#mycontent #mycontent-left {
    width: 140px;
    height: 490px;
    background-color: #e4e9eb;
    border-radius: 8px;
    margin-top: 10px;
    float: left;
}

#mycontent #mycontent-right {
    width: 850px;
    height: 490px;
    border-radius: 8px;
    margin-top: 10px;
    float: right;
}

#mycontent #mycontent-right #mycontent-right-top {
    width: 850px;
    height: 40px;
    margin-top: 0px;
    text-align: cente;
    line-height: 40px;
}

#mycontent #mycontent-right #mycontent-right-top span {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0px auto;
    font-size: 23px;
    font-weight: bolder;
}

#mycontent #mycontent-right #mycontent-right-top hr {
    margin-top: 2px;
    *margin: 0;
    border: 0;
    color: #e4e9eb;
    background-color: #e4e9eb;
    height: 2px
}

    #mycontent #mycontent-right{
            width:780px;
            height:150px;
            margin:0px auto;
            margin-top:0px;
        }
#mycontent #mycontent-right .balance{
            width:780px;
            height:393px;
            float:left;
            margin-top: 60px;
            margin-left: -20px;
        }
#mycontent #mycontent-right .balance .p{
            display:block;
            width:450px;
            height:40px;
            margin:0px auto;
            margin-top:20px;
            text-align:center;
            font-size:25px;
            color:black;
        }
#mycontent #mycontent-right .balance #a{
            color:red;
            font-size:22px;
        }
#mycontent #mycontent-right .balance a{
            display:block;
            width:120px;
            height:30px;
            color:black;
            text-align:center;
            line-height:30px;
            font-size:23px;
            background-color:#75B9E6;
            text-decoration:none;
            margin-top:40px;
            margin:0px auto;
            transition:0.5s;
        }
#mycontent #mycontent-right .balance a:hover { color:red; }
        #chart {
            width: 150px;
            height: 600px;
            position: absolute;
            top: 60px;
            right: 0px;
            float: right;
            background-color: white;
            border-radius: 4px;
            opacty

        }

#chat {
    width: 120px;
    height: 645px;
    border: 1px solid blue;
    float: right;
    border: 2px solid #e4e9eb;
    border-radius: 8px;
}

#chat .chat-top {
    width: 180px;
    height: 100px;
    border: 1px solid white;
}
#chat .chat-top hr{
	margin-top:10px;
	border:1px solid #e4e9eb;
}
#chat .chat-top .chat-show {
    width: 120px;
    height: 40px;
    margin-top: 50px;
    text-align: center;
    font-weight: lighter;
}

#chat .chat-top .chat-show span {
    font-size: 22px;
}

#chat .chat-content {
    width: 120px;
    height: 500px;
}

#chat .chat-content p {
    font-size: 17px;
    margin-top: 10px;
    margin-left:10px;
}

#chat .chat-content a:hover {
    color: red;
}

#chat .chat-bottom {
    width: 120px;
    height: 35px;
}

#chat .chat-bottom hr {
    margin-top: -10px;
    border:1px solid #e4e9eb;
}

#chat .chat-bottom .im-users {
    font-size: 30px;
    margin-left: 15px;
    margin-top: -35px;
}

#chat .chat-bottom .fa-envelope {
    font-size: 30px;
    margin-left: 15px;
    margin-top: -35px;
}