<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hepu.online.shixun.sos.project.dao.AdminstorMapper" >
  <resultMap id="BaseResultMap" type="hepu.online.shixun.sos.project.model.Adminstor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="adminstorName" property="adminstorname" jdbcType="VARCHAR" />
    <result column="adminstorPassword" property="adminstorpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, adminstorName, adminstorPassword
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hepu.online.shixun.sos.project.model.AdminstorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adminstor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from adminstor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adminstor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="hepu.online.shixun.sos.project.model.AdminstorExample" >
    delete from adminstor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hepu.online.shixun.sos.project.model.Adminstor" >
    insert into adminstor (id, adminstorName, adminstorPassword
      )
    values (#{id,jdbcType=INTEGER}, #{adminstorname,jdbcType=VARCHAR}, #{adminstorpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hepu.online.shixun.sos.project.model.Adminstor" >
    insert into adminstor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminstorname != null" >
        adminstorName,
      </if>
      <if test="adminstorpassword != null" >
        adminstorPassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminstorname != null" >
        #{adminstorname,jdbcType=VARCHAR},
      </if>
      <if test="adminstorpassword != null" >
        #{adminstorpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hepu.online.shixun.sos.project.model.AdminstorExample" resultType="java.lang.Integer" >
    select count(*) from adminstor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adminstor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adminstorname != null" >
        adminstorName = #{record.adminstorname,jdbcType=VARCHAR},
      </if>
      <if test="record.adminstorpassword != null" >
        adminstorPassword = #{record.adminstorpassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adminstor
    set id = #{record.id,jdbcType=INTEGER},
      adminstorName = #{record.adminstorname,jdbcType=VARCHAR},
      adminstorPassword = #{record.adminstorpassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hepu.online.shixun.sos.project.model.Adminstor" >
    update adminstor
    <set >
      <if test="adminstorname != null" >
        adminstorName = #{adminstorname,jdbcType=VARCHAR},
      </if>
      <if test="adminstorpassword != null" >
        adminstorPassword = #{adminstorpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hepu.online.shixun.sos.project.model.Adminstor" >
    update adminstor
    set adminstorName = #{adminstorname,jdbcType=VARCHAR},
      adminstorPassword = #{adminstorpassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="getAllAdminstor" resultMap="BaseResultMap">
  	select *
  	from adminstor
  </select>
</mapper>